{% extends 'base.html.twig' %}

{% block title %}Ultimos Lanzamientos{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Ultimos Lanzamientos</h1>

        <div class="row">
            {% for item in releases %}
                <div class="col-md-4">
                    <div class="card album">
                        <img class="card-img-top img-album" src="{{ item.images[0].url }}" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title">{{ item.name }}</h6>
                            {% for artist in  item.artists %}
                                <a href="{{ path('artist', {'id': artist.id} ) }}"
                                   class="card-link">{{ artist.name }}</a>
                            {% endfor %}
                            {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> #}
                        </div>

                        {# <div class="card-body">
                            {% for artist in  item.artists %}
                                <a href="{{ path('artist', {'id': artist.id} ) }}"
                                   class="card-link">{{ artist.name }}</a>
                            {% endfor %}
                        </div> #}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
